{% extends 'base.html.twig' %}

{% block title %}Commands{% endblock %}

{% block body %}

    <div>
        <table class="table table-striped">
            <tbody>
            {% for namespace, commands in commands %}
                <h3>{{ namespace }}</h3>
                {% for commandCode, command in commands %}
                    {% set d = command.definition %}
                    <tr>
                        <td>
                            <a href="{{ path('survos_command', {commandName: command.name}) }}">{{ commandCode }}</a>
                        </td>
                        <td>
                            {{ command.description }}
                        </td>
                        <td>
                            {% for arg in d.arguments %}
                                {{ arg.name }}
                                {#                            <li> #}
                                {#                                {{ arg.name }} #}
                                {#                                <i>{{ arg.description }}</i> #}

                                {#                            </li> #}
                            {% endfor %}
                        </td>
                        <td>
                            {% for option in d.options %}
                                --{{ option.name }}<br/>
                                {{ option.description }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
