{% extends 'layout.html.twig' %}

{% block body %}

    <a href="{{ path('survos_commands') }}">Return to Command List</a>

    <h2>{{ command.name }} <i>{{ command.description }}</i></h2>

    <code>{{ cliString }}</code>

    {{ form(form) }}
    <pre>{{ result }}</pre>


{% endblock %}
