{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <input type="submit" value="run" />
    <a href="{{ path('survos_commands') }}">Return to Command List</a>

    <h2>{{ command.name }} <i>{{ command.description }}</i></h2>

    <textarea cols="90">bin/console {{ cliString }}</textarea>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <pre>{{ result }}</pre>
    {{ dump(result) }}


{% endblock %}
